.table-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  i {
    font-size: 1.2rem;
    color: #9ca3af;
    cursor: pointer;
    margin-bottom: 30px;

  }
  .header-title{

    display: flex;
    h3 {
      color: #111827;
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }
  
    .users-number {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      border-radius: 999px;
      margin-left: 0.25rem;
      font-size: 1rem;
      font-weight: 550;
      background-color: #F8F5FE;
      color: #886FCE;
    }
  }
  
}
.table-container {
  background-color: #ffffff;
  // padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
}

th {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 600;
  color: #6b7280;
  padding: 1rem 0.75rem;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  background-color:#f8f8f8 ;

  

  i{
    font-size: 1rem;
  }
}

td {
  font-size: 0.9rem;
  color: #374151;
  padding: 1rem 0.75rem;
  vertical-align: middle;
  border-bottom: 1px solid #f3f4f6;
}

tr:hover {
  background-color: #f9fafb;
}

.avatar-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.name-cell{
  display: flex;
  .name-email{
    margin-left: 8px;
    .name{
      font-size: 16px;
      font-weight: 550;
    }
  }
  
}
.status-role{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.25rem 0.15rem;
  border-radius: 999px;
  margin-right: 0.25rem;
  font-weight: 500;
  width: 100px;
}

.status-text{
  margin-left: 5px;
}

.dot {
  display: inline-block;
  width: 5px;         
  height: 5px;         
  border-radius: 50%; 
}


.progress-bar {
  width: 100px;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}


.progress-bar-text{
  color: black;
  margin-left: 5px;
}

.progress-fill {
  background-color: #805ad5;
  height: 100%;
  transition: width 0.3s ease;
}

.tag {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
  margin-right: 0.25rem;
  font-weight: 500;
}

.action-buttons{
  background-color: white;
  border: none;
  font-size: 25px;
  border-radius: 50%;

  i{
  background-color: none;

  }
}

.action-buttons:hover{
  background-color: #f9fafb;
  cursor: pointer;

}

.popup-overlay {
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  .close-button{
    background-color: #f3aba9;
    border-radius: 16px;
    border: 2px #f18480;
    margin: auto;
    color: red;
    cursor: pointer;
    padding: 0.25rem 0.25rem;
  }
}

.delete-buttons{
  display: flex;
  justify-content: space-evenly;
  .delete-button{
    background-color: #f3aba9;
    border-radius: 16px;
    border: 2px #f18480;
    margin: auto;
    color: red;
    cursor: pointer;
    padding: 0.25rem 0.25rem;
  }
  .cancel-button{
    background-color: #f3e6e6;
    border-radius: 16px;
    border: 2px #f18480;
    margin: auto;
    color: rgb(34, 13, 13);
    cursor: pointer;
    padding: 0.25rem 0.25rem;
  }
}

.pagination {
  padding: 1.5rem;

  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.page-numbers{
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.pagination button {
  padding: 0.5rem 0.75rem;
  background-color: #f3f4f6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 0.875rem;
}

.pagination button:hover {
  background-color: #e5e7eb;
}

.pagination button.active {
  background-color: #e5e7eb;
  color: black;
  font-weight: bold;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center; 
  vertical-align: middle;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkbox-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.hidden-checkbox:checked + .checkbox-icon {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.hidden-checkbox:checked + .checkbox-icon::after {
  content: "✓";
  color: white;
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

.hidden-checkbox:hover + .checkbox-icon {
  border-color: #3f51b5;
}

